.button {
   border: 1px solid #000000;
   background: #000000;
   background: -webkit-gradient(linear, left top, left bottom, from(#f50000), to(#000000));
   background: -webkit-linear-gradient(top, #f50000, #000000);
   background: -moz-linear-gradient(top, #f50000, #000000);
   background: -ms-linear-gradient(top, #f50000, #000000);
   background: -o-linear-gradient(top, #f50000, #000000);
   background-image: -ms-linear-gradient(top, #f50000 0%, #000000 100%);
   padding: 10.5px 21px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #f50000 0 1px 0;
   color: #000000;
   font-size: 14px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border: 1px solid #f50000;
   text-shadow: #000000 0 1px 0;
   background: #f50000;
   background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#f50000));
   background: -webkit-linear-gradient(top, #000000, #f50000);
   background: -moz-linear-gradient(top, #000000, #f50000);
   background: -ms-linear-gradient(top, #000000, #f50000);
   background: -o-linear-gradient(top, #000000, #f50000);
   background-image: -ms-linear-gradient(top, #000000 0%, #f50000 100%);
   color: #f50000;
   }
.button:active {
   text-shadow: #f50000 0 1px 0;
   border: 1px solid #010405;
   background: #000203;
   background: -webkit-gradient(linear, left top, left bottom, from(#f50000), to(#f50000));
   background: -webkit-linear-gradient(top, #f50000, #000203);
   background: -moz-linear-gradient(top, #f50000, #000203);
   background: -ms-linear-gradient(top, #f50000, #000203);
   background: -o-linear-gradient(top, #f50000, #000203);
   background-image: -ms-linear-gradient(top, #f50000 0%, #000203 100%);
   color: #000000;
   }